
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

navbar-logo {
  float: left;
}

.bodybackground {
  background-color: rgb(0, 0, 0);
}



.opacitytable{
  filter: brightness(25%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*
IMAGENES
*/
.img-home {
  position: relative;
  max-width: 100%;
  filter: brightness(50%);
  height: 100%;  
  width: 100%;
}

.img-palmeras {
  position: relative;
  max-width: 100%;
  filter: brightness(25%);
  height: 100%;  
  width: 100%;
}
/*
.img-fondo-tabla {
  position: relative;
  max-width: 80%;
  filter: brightness(100%);
  height: 100%;  
  width: 100%;
}
*/
.images-tabla{
  position: relative;
  max-width: 30%;
  filter: brightness(100%);
  height: 30%;  
  width: 30%;
}

.img-carta {
  position: relative;
  max-width: 20%;
  filter: brightness(100%);
  height: 100%;  
  width: 100%;
}

.img-blog1 {
  position: relative;
  max-width: 40%;
  filter: brightness(50%);
  height: 100%;  
  width: 100%;
}

.img-blog2 {
  position: relative;
  max-width: 40%;
  filter: brightness(50%);
  height: 100%;  
  width: 100%;
}

.img-blog3 {
  position: relative;
  max-width: 40%;
  filter: brightness(50%);
  height: 100%;  
  width: 100%;
}
.contactoimage
    {
      position: relative;
      top: 0;
      left: 0;
    }
.contactoimagesmall
    {
      position: absolute;
      top: 10px;
      left: 80px;
    }


/*
FORMULARIO
*/
.myformulario{
  position: relative;
  display: block;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20;
  color:rgb(255, 255, 255);
}
.letraslabel{
  position: relative;
  display: block;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100;
  color:darkorange;
}





/*
CONTENEDORES
*/
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;  
  width: 100%;
}

.contenedor-carta{
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;  
  width: 100%;
  filter: brightness(100%);
}

.contenedor-reservas{
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;  
  width: 100%;
  filter: brightness(100%);
}

.contenedor-tabla{
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;  
  width: 100%;
  background-image: url(/Develops/HTMLS_CSS/htmlejercicio1/images/fondotabla.png);
}


.contenedor-blog{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 50%;  
    width: 50%;
  }

/*
textos
*/

.texto-home{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color:darkorange;
}

.texto-carta{
  position: absolute;
  display: block;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100;
  color:darkorange;
}

.texto-reservas{
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100;
  color:darkorange;
}

.texto-galeria{
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100;
  color:darkorange;
}


.texto-blog{
  position: absolute;
  display: block;
  top: -20%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 100;
  color:darkorange;
}

.texto-blog1{
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30;
  color:darkorange;
}

.texto-blog2{
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30;
  color:darkorange;
}

.texto-blog3{
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30;
  color:darkorange;
}



.texto-concepto{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: whitesmoke;
  font-family: sans-serif;
  
}

.tabla-galeria{
  position: relative;
  display: inside;
  max-width: 100%;
  height: 100%;  
  width: 100%;
}


.texto-footer{
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color:darkorange;
}


.titulocarta{
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.titulocarta{
  color: rgb(240, 169, 16);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
/*
FOOTER
*/

#footer_column1, #footer_column2, #footer_column3{
	width: 226px;
  float: left;
}